.contact-wrapper {
	background-color: #f3f3f3;
	color: #57585A;
}
.contact-container{
	background-color: #f3f3f3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact-container form{
	margin-bottom: 180px;
	width:60%;
}
.form-row{
	direction:rtl;
}
.contact-container input{
	text-align: right;
}
#submit-button{
	margin-top:35px;
}
.contact-title{
	font-size: 75px;
	margin-top: 80px;
	color: rgba(187,54,70,0.86);
    font-weight: bold;
    margin-bottom: 100px;
    font-family: bebas;
    padding-top:50px;
}
.pin-image{
	z-index: 9;
    width: 250px;
    position: relative;
    top: -100px;
}
.pin-image :hover{
	visibility: hidden;
}
.contact-text{
	position: relative;
	top:200px;
	font-weight: bold;
	font-family: bebas;
	padding-bottom: 30px;
}
.contact-text img{
	max-width: 50px;
	margin-top: 10px;
}
@media screen and (max-width: 479px) {
	#innerMap{
		width:70%;
	}
}