.header-wrapper{
    max-height: 100%;
}
.header-container{
	background: url(./rendered.jpg)no-repeat center 0% / cover;
    margin-top: 0;
    width:100%;
    height:100vh;
}
.round-container{
	position: absolute;
    left: 50%;
    width: 500px;
    height: 500px;
    text-align: center;
    z-index: 2;
    top: 460px;
    margin-top: -295px;
}

.rounded-welcome{
	position: relative;
    left: -50%;
    background: rgba(14, 42, 76, 0.7);
    width: 500px;
    height: 500px;
    padding: 49px 0px 25px;
    margin-right: -295px;
    border-radius: 50%;
}

.rounded-welcome h1{
	font-size: 55px;
    margin-bottom: 0px;
    color: #FFF;
    font-family: Bebas;
    margin-bottom: 50px;
    letter-spacing: -2px;
}

.rounded-welcome h2 {
    font-size: 38px;
    font-weight: normal;
    padding: 0 0 15px;
    color: #FFF;
    font-family: 'Bebas Neue', cursive;
    margin-top: 28px;
    
}

.scroll-home {
    bottom: 29px;
	height: 75px;
    width: 201px;
    border-radius: 70px;
}
.clear{
	clear: both;
}

@media only screen and (max-width: 1285px){
	.round-container{
		width: 420px;
	    height: 420px;
	    margin-top: -231px;
	    margin-right: -231px;
	    top:430px;
	}
	.rounded-welcome {
	    width: 420px;
	    height: 420px;
	    padding: 55px 0px 25px;
	}
	.rounded-welcome h1{
		font-size: 45px;
	}
	.rounded-welcome h2{
		font-size: 36px;
	}
	.scroll-home {
	    bottom: 29px;
		height: 50px;
	    width:120px;
	    border-radius: 70px;
	}
}

@media screen and (max-width: 479px) {
	.round-container{
	    left: 0px;
	    width: 100%;
	    height: 380px;
	    top:400px;
	}
	.rounded-welcome {
	    left: 0;
	    background: transparent;
	    width: 100%;
	    height: 380px;
	    padding: 0px;
	    margin-right: 0;
	    border-radius: 0;
	}
	.rounded-welcome h1{
		padding-top: 20%;
		font-size: 45px;
	}
	.rounded-welcome h2{
		font-size: 28px;
	}
	.scroll-home {
	    bottom: 29px;
		height: 50px;
	    width:120px;
	    border-radius: 70px;
	}
}
