*{
  box-sizing: border-box;
}
html{
	min-width:100%;
	min-height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: David sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  min-height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: Bebas;
  src: url(./Bebas-Regular.ttf);
}